*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.input-group {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  margin: 1rem 0rem;
}

.input-group__input {
  margin-bottom: 1rem;
}